/* Rebuild the css files by running "grunt less" from the theme's directory. */

@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/theme.less";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar-brand {
  padding: 2px 15px;
  > img {
    height: 44px;
    width: auto;
    display: inline-block;
    margin-right: 8px;
  }
}