/* Rebuild the css files by running "grunt less" from the theme's directory. */

@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/theme.less";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.layout-lmr {
  &.left-sidebar {
    .make-lg-column(2);
  }
  &.main {
    .make-lg-column(8);
  }
  &.right-sidebar {
    .make-lg-column(2);
  }
}

.layout-mr {
  &.main {
    .make-lg-column(9);
  }
  &.right-sidebar {
    .make-lg-column(3);
  }
}

.layout-lm {
  &.left-sidebar {
    .make-lg-column(3);
  }
  &.main {
    .make-lg-column(9);
  }
}

.layout-m {
  &.main {
  }
}

#content {
  .left-sidebar {
    padding-left: 0;
  }

  .right-sidebar {
    padding-right: 0;
  }
}

@media(max-width: @screen-lg-min) {
  .left-sidebar, .right-sidebar {
    .hidden();
  }
}

.main {
  article {
    margin-bottom: 1em;
  }
}

.navbar-brand {
  padding: 3px 15px;
  > img {
    height: 44px;
    width: 39px;
    display: inline-block;
    margin-right: 8px;
  }
}

.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: @gray-light;
  text-align: center;
  border-top: 1px solid @gray-lighter;
}

.api-field {
  margin-bottom: 0;
}

@toc-focus-color: #563d7c;

.docs-sidenav {
  .toc {
    list-style: none;
    padding-left: 0;
    & > li > a {
      display: block;
      padding: 4px 20px;
      font-size: ceil((@font-size-base * 0.8));
      font-weight: @headings-font-weight;
      color: @gray-light;

      &:hover, &:focus {
        padding-left: 19px;
        color: @toc-focus-color;
        text-decoration: none;
        background-color: transparent;
        border-left: 1px solid @toc-focus-color;
      }
    }

    & > li.active > a, & > li.active:hover > a, & > li.active:focus > a {
      padding-left: 18px;
      font-weight: ceil((@headings-font-weight * 2));
      border-left: 2px solid @toc-focus-color;
    }

    .toc {
      & > li > a {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 30px;
        font-size: @font-size-small;
        font-weight: normal;

        &:hover, &:focus {
          padding-left: 29px;
        }
      }

      & > li.active > a, & > li.active:hover > a, & > li.active:focus > a {
        padding-left: 28px;
        font-weight: ceil((@headings-font-weight * 2));
        border-left: 2px solid @toc-focus-color;
      }
    }
  }
}

.doc-edit-button {
  float: right;
  margin-top: 3px;
}

li {
  text-transform: capitalize;
}

.main table {
  width: 100%;
  max-width: 100%;
  margin-bottom: @line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border-top: 1px solid @table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid @table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody > tr:nth-child(odd) {
    background-color: @table-bg-accent;
  }
}